
<!--
<button (click)="addingTag = true">Add Tag</button>-->

<button md-mini-fab *ngIf="!addingTag" (click)="initiateAdding()" class="ing-button" title="Add New Tag">
	<i class="material-icons md-24">add</i>
</button>
<!--<button md-raised-button *ngIf="addingTag" color="primary" (click)="addThisTag()" class="ing-button">Save</button>-->


<div *ngIf="addingTag" class="add-tag-section">
	<!--<md-input #tagInput placeholder="Tag Name" [(ngModel)]="newTagName" class="full-width" (keypress)="checkingForEnter($event, i)"></md-input>-->
	<app-tag-input (onCompletion)="onCompletion($event)" (onCancellation)="onCancellation()"></app-tag-input>
</div>