
<md-input placeholder="Group Name" id="groupName" #groupName [(ngModel)]="ingredientGroup.title" (keypress)="checkingForEnter($event, i)" class="full-width"></md-input>

<button md-mini-fab (click)="addIngredient()">  
	<i class="material-icons md-24">add</i>
</button>
<button md-mini-fab color="accent" (click)="deleteGroup()">
	<i class="material-icons md-24">delete</i>
</button>

<md-list dense>
	<md-list-item *ngFor="let ing of ingredientGroup.ingredients; let i = index; trackBy: custom">				
		<md-icon md-list-avatar (click)="deleteIngredient(i)">delete</md-icon>
			<!--<input type="text" [(ngModel)]="ingredientGroup.ingredients[i]" />-->
		<app-autofocus-input 
			[itemForInput]="ingredientGroup.ingredients[i]" 
			[placeholderText]="'Ingredient'"
			[(ngModel)]="ingredientGroup.ingredients[i]" 
			(onCompletion)="addIngredient()" ngDefaultControl>
		</app-autofocus-input>
	</md-list-item>
</md-list>
