


<button md-mini-fab (click)="searchingFlag = true" *ngIf="!searchingFlag">
	<i class="material-icons md-24">search</i>
</button>


<app-autofocus-input 
	*ngIf="searchingFlag"
	[itemForInput]="searchString" 
	[placeholderText]="'SEARCH'"
	[(ngModel)]="searchString" 
	(onCompletion)="query()"
	(onBlur)="checkBlur()"	
	 ngDefaultControl>
</app-autofocus-input>

<!--
<button id="clear-filter" >
	<i class="material-icons md-10">remove</i>
</button>
-->

<button md-icon-button color="warn" (click)="clearFilter()" *ngIf="searchingFlag" title="clear filter">
    <i class="material-icons md-10">remove_circle</i>
</button>