

<div *ngIf="recipe">
	<md-card>
		<md-card-title>{{recipe.recipeName}}</md-card-title>
		<md-card-subtitle>{{recipe.description}}</md-card-subtitle>		

		<md-card-content>
			<p>
				<button type="button" class="mdl-chip" *ngFor="let tag of recipe.tags">
					<span class="mdl-chip__text">{{tag}}</span>
				</button>
			</p>
			<p>Serving Size : {{recipe.servingSize}}</p>
			<p *ngIf="recipe.yummlyId.length > 1">Source : <a href="{{recipe.sourceUrl}}">{{recipe.sourceUrl}}</a></p>
			
			<h5>Ingredients</h5>

			<div *ngFor="let ing of recipe.ingredients">
				<strong>{{ing.title}}</strong>
				<ul>
					<li *ngFor="let ingredient of ing.ingredients">
						{{ingredient}}
					</li>
				</ul>
			</div>		
			
			<h5>Instructions</h5>
			<ol>
				<li *ngFor="let ins of recipe.instructions">{{ins.instruction}}</li>
			</ol>
		</md-card-content>
		<md-card-actions>
			<button md-raised-button (click)="goBack()">BACK</button>
			<button md-raised-button (click)="editRecipe()">EDIT</button>
			<button md-raised-button *ngIf="showScrapeButton" (click)="scrapyScrapy()">SCRAPE</button>
			<button md-raised-button *ngIf="!deleting" (click)="deleting = true">DELETE</button>
			<button md-raised-button *ngIf="deleting" color="primary" (click)="deleting = false">CANCEL</button>
			<button md-raised-button *ngIf="deleting" color="accent" (click)="deleteRecipe()">For Real Delete</button>

		</md-card-actions>
	</md-card>

</div>