<h3>
	Newest Recipes
</h3>

<div class="row">
	<div class="column _10">

		<button md-mini-fab class="upperButton" color="primary" (click)="addNewRecipe()">		
			<i class="material-icons md-24">add</i>
		</button>

		<br />

		<button md-mini-fab class="upperButton" color="primary" >
			<i class="material-icons md-24">view_headline</i>
		</button>

	</div>
	<!--<div class="column _10">
		
	</div>-->

	<div class="column _80">
		<div class="card-container">
			<md-card *ngFor="let recipe of recipes">
				<md-card-title color="primary">{{recipe.name}}</md-card-title>
				<md-card-content>{{recipe.description}}</md-card-content>
				<md-card-actions>
					<button md-button (click)="gotoRecipe(recipe)">VIEW</button>
				</md-card-actions>
			</md-card>
		</div>
	</div>
</div>

<div class="row">
	<div class="column _10">
		<strong>STORE THINGS</strong>
	</div>
	<div class="column _80">
		<h4>Current Count: {{ counter | async}}</h4>

		<button md-mini-fab (click)="increment()">
			<i class="material-icons md-24">add</i>
		</button>

		<button md-mini-fab (click)="decrement()">
			<i class="material-icons md-24">remove</i>
		</button>

		<button md-mini-fab (click)="reset()">
			<i class="material-icons md-24">undo</i>
		</button>
	</div>
</div>

<div class="row">
	<div class="column _10">
		<button (click)="addStupidRecipe()"> Add Stupid </button>
	</div>
	<div class="column _80">
		<h4>all the dumbs</h4>
		<ul>
			<li *ngFor="let rec of recipeModels"> {{ rec.name }} </li>
		</ul>
	</div>
</div>




