<h3>
	Newest Recipes
</h3>

<div class="row">
	<div class="column _10">

		<button md-mini-fab class="upperButton" color="primary" (click)="addNewRecipe()">		
			<i class="material-icons md-24">add</i>
		</button>

		<br />

		<button md-mini-fab class="upperButton" color="primary" >
			<i class="material-icons md-24">view_headline</i>
		</button>

	</div>
	<!--<div class="column _10">
		
	</div>-->

	<div class="column _80">
		<div class="card-container">
			<md-card *ngFor="let recipe of recipes">
				<md-card-title color="primary">{{recipe.recipeName}}</md-card-title>
				<md-card-content>{{recipe.description}}</md-card-content>
				<md-card-actions>
					<button md-button (click)="gotoRecipe(recipe)">VIEW</button>
				</md-card-actions>
			</md-card>
		</div>
	</div>
</div>






